<!-- Footer -->
<footer class="text-center">
    <p>&copy; 2024 Nowoczesna Strona. Wszystkie prawa zastrzeżone.</p>
    <div>
        <a href="#" class="mr-3">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mr-3">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mr-3">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>