<!-- Footer -->
<footer class="text-center">
    <p>&copy; 2025 Poker Site. All rights restricted.</p>
    <div>
        <a href="https://gitlab.com/Gorn456" class="mr-3">
            <i class="fab fa-gitlab"></i>
        </a>
        <a href="https://www.linkedin.com/in/kamil-kasperek-579511286/" class="mr-3">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/kkamilkasperek/poker-site" class="mr-3">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>