{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{% static 'app/styles/navbar.css' %}" rel="stylesheet">
    {% if page == 'home' %}
        <link href="{% static 'app/styles/home.css' %}" rel="stylesheet">
    {% endif %}
    <link href="{% static 'app/styles/footer.css' %}" rel="stylesheet">
    {% if page == 'login' %}
        <link href="{% static 'app/styles/login_register.css' %}" rel="stylesheet">
    {% endif %}
    <link href="{% static 'app/styles/style.css' %}" rel="stylesheet">
    {% if page == 'rooms' %}
        <link href="{% static 'app/styles/rooms.css' %}" rel="stylesheet">
    {% endif %}
</head>
<body>
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>