{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Pasek informacji o pokoju -->
<div class="container mt-3">
    <div class="room-info d-flex justify-content-between align-items-center bg-dark p-3 rounded">
        <div>
            <h5 class="mb-0">{{ room.name }}</h5>
            <p class="mb-0">Ilość graczy:<span id="current-players-count">{{ room.players.all.count }}</span> / {{ room.max_players }}</p>
        </div>
        <div>
            <h5 class="mb-0">Poziom ciemnych</h5>
            <p class="mb-0"> {{ small_blind }} / {{ room.blinds_level }}</p>
        </div>
        <button id="entry-button" class="btn btn-success">Dołącz/Odejdź</button>
        <div id="acting-player"></div>
        <div>Pula: <span id="pot-size"></span></div>
    </div>
</div>

<div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>


<!-- Main Content -->
<div class="main-content">
    <div id="table" class="poker-table">
        {% for seat_number in seat_range %}
            <div id="seat-{{ seat_number }}" class="seat player-container">
                <div class="player-cards"></div>
                <div class="player-info"></div>
            </div>
         {% endfor %}

        <div id="board-cards" class="center-cards">
        </div>
    </div>
    <div class="action-panel">
        <div class="info d-flex justify-content-between align-items-center mb-2" hidden>
            <div>
                <strong>Chips:</strong> <span id="playerChips"></span>
            </div>
            <div>
                <strong>Your hand:</strong> <span id="playerHand"></span>
            </div>
        </div>
        <div class="action d-flex justify-content-between" hidden>
            <button class="fold btn btn-danger">Fold</button>
            <button class="check btn btn-primary">Check</button>
            <button class="call btn btn-success">Call</button>
            <button class="raise btn btn-warning">Raise</button>
            <input type="range" min="0" step="1" class="raise-slider form-control-range mx-2" style="flex: 1;">
            <input type="number" min="0" class="raise-input form-control" placeholder="Kwota" style="width: 100px;">
        </div>
    </div>
</div>
{% if user == room.host %}
    <a href="{% url 'delete_room' room.id %}">Delete</a>
 {% endif %}

    <script>
       const roomId = "{{ room.id }}";
        const role = "{{ role }}";
        const maxPlayers = {{ room.max_players }};

        const raiseSlider = document.querySelector('.raise-slider');
        const raiseInput = document.querySelector('.raise-input');

        raiseSlider.addEventListener('input', (event) => {
            raiseInput.value = event.target.value;
        });

        raiseInput.addEventListener('input', (event) => {
            raiseSlider.value = event.target.value;
        });
    </script>
    <script src="{% static 'app/js/websocket_for_styled.js' %}"></script>
{% endblock %}